/* Général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2, h3 {
    color: #333;
}

/* Conteneur général */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Style de la page de connexion */
.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container input[type="password"],
.login-container button {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.login-container button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #45a049;
}

/* Tableau de bord */
.dashboard-container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.dashboard-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.dashboard-container h3 {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

td form button:hover {
    background-color: #45a049;
}

/* Formulaire */
form input[type="text"],
form input[type="number"],
form select {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

form input[type="hidden"] {
    display: none;
}

/* Boutons de navigation */
a {
    text-decoration: none;
    color: #4CAF50;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
    color: #45a049;
}

/* Notifications d'erreur */
p {
    color: red;
    text-align: center;
}
